body{
    background-color: black;
}
.field{
    width: 100%;
    height: 600px;
    border: 10px solid white;
    background-color: #42d4a4;
    display: flex;
    justify-content: space-around;
}
.cort{
    height: 100%;
    width: 10px;
    background-color: white;
}
.cort2{
    position: absolute;
    height: 10px;
    width: 100%;
    background-color: white;
    top: 320px;
    
}
.net {
    width: 2%;
    height: 450px;
    margin-top: 160px;
    background: rgb(235, 180, 180);
    position: relative;
}
.left-racket, .right-racket{
    height: 300px;
    position: relative;
    top: 120px;
}
.corck{
    position: relative;
    height: 70px;
    top: -120px;
    left: -170px;
}

.field:hover .left-racket{
    transform: rotate(45deg);
    transition: 1s;
}
.field:hover .right-racket{
    transform: rotate(-45deg);
    transition: 1s;
    transition-delay: 2.5s;

}

.field:hover .corck{
    animation: serve 2.8s ease-in-out .3s infinite alternate ;
}
@keyframes serve {
    0% {
        top: -120px;
        left: -170px;
    }
    50% {
        top: -220px;
    }
    100%{
        left: 890px;
        transform: rotate(-75deg);
    }
}